; Logging configuration
;
; vsmtpd uses the standard Python logging module which is configured in
; this file.
[loggers]
keys = root, vsmtpd

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_vsmtpd]
level = DEBUG
handlers =
qualname = vsmtpd

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(name)s] %(message)s
datefmt = %H:%M:%S

; vim: ft=dosini
